# Server
*.mv.db
*.trace.db
.ubinote/

# clojure
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/

# build
# during development, app will be built into this folder
/resources/frontend

# frontend
## dependencies
/node_modules

## testing
/coverage

## production
.svelte-kit
