# Server
*.mv.db
*.trace.db
*.sqlite
.ubinote/
local/

# clojure
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/

## lint
.clj-kondo/

## testing
/coverage
