{:paths ["src" "resources"]

 :deps
 {
  org.clojure/clojure       {:mvn/version "1.10.1"}
  ;; util
  slingshot/slingshot       {:mvn/version "0.12.2"}; better exception handling
  ;; webserver+routing
  compojure/compojure       {:mvn/version "1.6.2"}
  ring/ring-core            {:mvn/version "1.9.4"}
  ring/ring-jetty-adapter   {:mvn/version "1.9.5"}
  ring/ring-json            {:mvn/version "0.5.1"}
  ring-cors/ring-cors       {:mvn/version "0.1.13"}
  ;; log
  com.taoensso/timbre       {:mvn/version "5.1.2"}
  ring-logger/ring-logger   {:mvn/version "1.1.1"} ; log middleware
  ;; database
  org.clojure/java.jdbc     {:mvn/version "0.7.12"}
  toucan/toucan             {:mvn/version "1.17.0"}
  com.h2database/h2         {:mvn/version "2.1.210"} ; H2 driver
  org.postgresql/postgresql {:mvn/version "42.2.13"} ; Postgres driver
  com.mchange/c3p0          {:mvn/version "0.9.5.5"}
  enlive/enlive             {:mvn/version "1.1.6"} ; html parser
  ;hickory/hickory           {:mvn/version "0.7.1"} ; seems like a fater parser than enlive, but using enlive for now bc it has selector
  }

 :aliases
 {; clj -M:dev
  :dev
  {:extra-paths ["dev/src"]
   :extra-deps  {ring/ring-devel {:mvn/version "1.9.4"}}}

  ; clj -M:run
  :run
  {:main-opts ["-m" "archiveio.core"]}

  ; clj -T:build uber
  :build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.6.2" :git/sha "226fb52"}}
   :ns-default build}

  }}
