{:linters
 {:unsorted-required-namespaces {:level :warning}

  :consistent-alias
  {:aliases
   {ubinote.ui.template                                template
    ubinote.api.common                                 api.common}}}}
