{:linters
 {:unsorted-required-namespaces {:level :warning}

  :consistent-alias
  {:aliases
   {ubinote.ui.core                                    ui
    ubinote.ui.page.core                               ui.page
    ubinote.ui.template.core                           template
    ubinote.api.util                                   api.u}}}}
